html {
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.gradientText {
    background: linear-gradient(to right, #ff7a00, #ff2900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradientDot {
    background: linear-gradient(to right, #ff7a00, #ff2900);
}
.gradientBorderPlatform {
    background: linear-gradient(to right, #1d1d1d, #838383);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #7E7F81;
}